.header {
  background-color: #10634e;
  #container {
    .headerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      color: white;
      ul {
        display: flex;
        gap: 20px;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .headerBox {
    flex-wrap: wrap;
    gap: 10px;
    ul {
      flex-wrap: wrap;
    }
  }
}
